.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.card-margin-top{
    margin-bottom: 30px;
}

.container.card-margin-top.close_card{
    display: none;
}

.card-header span {
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
}
