<html lang="en">
<head>
{{>header}}
</head>
<body class="container">

    <h1 class="display-4">{{title}}</h1>
    <h2 class="display-4">Edit Project</h2> 

<form method="post" role="form"> 
{{#item}}
  <div class="form-group">
    <label for="project"><b>Project Name: </b></label>
    <input type="text" class="form-control-plaintext" id="project" name="project"  value="{{project}}" >
  </div>

   <div class="form-group">
    <label for="module"><b>Module: </b></label>
    <input type="text" class="form-control-plaintext" id="module" name="module" value="{{module}}" >
   </div>

   <div class="form-group">
    <label for="intendedDate"><b>Intended Completion Date: </b></label>
    <input type="text" class="form-control" id="intendedDate" name="intendedDate" value="{{intendedDate}}" >
   </div>

   <div class="form-group">
    <label for="actualDueDate"><b>Actual Due Date: </b></label>
    <input type="text" class="form-control" id="actualDueDate" name="actualDueDate" value="{{actualDueDate}}" >
  </div>

    <div class="form-group">
        <label for="tasks"><b>Tasks: </b></label>
        <input type="text" class="form-control" id="tasks[1][task]" name="tasks[1][task]" placeholder="Task 1" required>
        <input type="text" class="form-control" id="tasks[2][task]" name="tasks[2][task]" placeholder="Task 2 - Optional">
        <input type="text" class="form-control" id="tasks[3][task]" name="tasks[3][task]" placeholder="Task 3 - Optional">
    </div>

  <div class="form-group">
    <input type="submit" value="Save project details" class="btn btn-primary">
  </div>
{{/item}}
</form>
</body>
</html>